*.binlog
*.DotSettings.user
*.g.*
*.generated.*
*.idb
*.ilk
*.iobj
*.ipdb
*.log
*.nupkg
*.pdb
*.sln.docstates
*.snupkg
*.suo
*.tlog
*.tmp
*.user
*.userosscache
.build/
.DS_Store
.idea/
.idea/
.idea_modules/
.vs/
.vscode/
_ReSharper*/
ApplicationInsights.config
appsettings.*.json
appsettings.Development.json
bin/
Debug/
desktop.ini
dist/
local.settings.json
Migrations/
node_modules/
obj/
packages/
project.fragment.lock.json
project.lock.json
publish/
Release/
src/Decoder/huawei
src/Decoder/zte
Thumbs.db
wwwroot/
~$*
