bin/
obj/
Debug/
Release/
*.user
*.suo
*.userosscache
*.sln.docstates
*.log
.vs/
.vscode/
.idea/
.idea_modules/
.DS_Store
Thumbs.db
desktop.ini
ApplicationInsights.config
*.nupkg
packages/
*.snupkg
Migrations/
_ReSharper*/
*.DotSettings.user
~$*
*.tmp
publish/
appsettings.Development.json
appsettings.*.json
project.lock.json
project.fragment.lock.json
*.g.*
*.generated.*
*.iobj
*.ilk
*.pdb
*.idb
*.ipdb
*.tlog
*.binlog
wwwroot/
node_modules/
local.settings.json
.idea/
.build/
